{% extends 'base.html.twig' %}

{% block body %}
    <div><a href="{{ path('ip_storage_add') }}">Add IP Address</a></div>
    <div><a href="{{ path('ip_storage_query') }}">Query IP Address</a></div>
{% endblock %}
